<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
      http://www.springframework.org/schema/beans/spring-beans.xsd
      http://code.alibabatech.com/schema/dubbo
      http://code.alibabatech.com/schema/dubbo/dubbo.xsd">

    <bean id="shiroFilter" class="org.apache.shiro.spring.web.ShiroFilterFactoryBean">
        <property name="securityManager" ref="securityManager"/>
        <property name="loginUrl" value="/view/login"/>
        <property name="successUrl" value="/view/success"/>
        <property name="unauthorizedUrl" value="/view/unauthorized"/>
        <property name="filterChainDefinitions">
            <value>
                /images/*=anon
                /html/*=roles[admin]
                /view/index=anon
                /view/success=anon
                /view/fail=anon
                /view/user=roles[user]
                /view/admin=roles[admin]
                /logout=logout
            </value>
        </property>
    </bean>
    
    <dubbo:reference id="shiroUserService" interface="com.leslia.user.api.ShiroUserService" />

    <!-- 用户授权信息Cache -->
    <bean id="cacheManager" class="org.apache.shiro.cache.MemoryConstrainedCacheManager" />

    <!-- 配置凭证算法匹配器 -->
    <bean id="credentialsMatcher" class="org.apache.shiro.authc.credential.HashedCredentialsMatcher">
    <property name="hashAlgorithmName" value="MD5"></property> <!-- MD5加密 -->
    <property name="hashIterations" value="1024"></property> <!-- 加密次数 -->
    </bean>

    <bean id="myRealm"  class="com.leslia.shiro.realm.ShiroRealm">
        <property name="cacheManager" ref="cacheManager" />
        <property name="shiroUserService" ref="shiroUserService"/>
        <property name="credentialsMatcher" ref="credentialsMatcher"/>
    </bean>

    <bean id="securityManager"  class="org.apache.shiro.web.mgt.DefaultWebSecurityManager">
        <property name="cacheManager" ref="cacheManager"/>
        <property name="realm" ref="myRealm"/>
    </bean>

    <!-- 配置 Bean 后置处理器: 会自动的调用和 Spring 整合后各个组件的生命周期方法. -->
    <bean id="lifecycleBeanPostProcessor" class="org.apache.shiro.spring.LifecycleBeanPostProcessor"/>

</beans>