<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.leslia.service.mapper.HelpCategoryMapper">
    <resultMap id="HelpCategory" type="com.leslia.api.pojo.HelpCategory">
        <id column="help_category_id"   property="helpCategoryId"/>
        <result column="name"   property="name"/>
        <result column="parent_category_id" property="parentCategoryId"/>
        <result column="url"        property="url"/>
    </resultMap>

    <select id="getList" resultMap="HelpCategory">
        SELECT * FROM help_category
    </select>

</mapper>