<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.leslia.service.mapper.ShiroUserMapper">
    <resultMap id="ShiroUser" type="com.leslia.api.pojo.ShiroUser">
        <result column="username"        property="username"/>
        <result column="password"         property="password"/>
        <result column="age"               property="age"/>
        <result column="name"              property="name"/>
        <result column="role"               property="role"/>
    </resultMap>

    <select id="getShiroUser" parameterType="com.leslia.api.pojo.ShiroUser" resultMap="ShiroUser">
        SELECT * FROM shiro_user WHERE username=#{username} AND PASSWORD =#{password}
    </select>

    <select id="getShiroUserByUserName" parameterType="java.lang.String" resultMap="ShiroUser">
        SELECT * FROM shiro_user WHERE username=#{username}
    </select>

</mapper>