<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.leslia.inter.mapper.NumMapper">
    <resultMap id="Num" type="com.leslia.inter.pojo.Num">
        <id column="id"        property="id"/>
        <result column="num"    property="num"/>
        <result column="code"   property="code"/>
        <result column="date"   property="date"/>
    </resultMap>

    <insert id="insertNum" parameterType="com.leslia.inter.pojo.Num">
      INSERT INTO leslia_num(code,num,date)
      VALUES (#{code},#{num},#{date})
    </insert>

    <select id="selectNum" parameterType="int" resultMap="Num">
        SELECT * FROM leslia_num WHERE id=#{id}
    </select>

    <update id="updateNum" parameterType="com.leslia.inter.pojo.Num">
        UPDATE leslia_num SET
        code = #{code},
        num  = #{num},
        date = #{date}
        WHERE id=#{id}
    </update>


</mapper>